<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="css/jquery.mobile-1.0b1.min.css"  media="screen" title="jquery mobile" charset="utf-8">
  <link rel="stylesheet" href="css/main.css"  media="screen" charset="utf-8">
    
</head>
<body>
  <!--
  Home Page
  -->
  <div id="home" data-role="page">
    <div data-role="header">
      <h1>Local Notes</h1>
      <a href="#new" data-role="button" data-icon="plus" class="ui-btn-right" data-rel="dialog" data-transition="pop">
      	New
      </a>
    </div>
    <div data-role="content">
    	<a href="#new" data-role="button" data-icon="plus" data-theme="b" data-rel="dialog" data-transition="pop">
    		New Note
    	</a>
    	
    	<ul data-role="listview" data-inset="true" >
    		<li><a href="#all">All Notes</a></li>
    		<li><a href="#nearest">Nearest Notes</a></li>
    	</ul>
    </div>
    
 </div>
  
  <!--
  New Note form
  -->
    <div id="new" data-role="page" data-add-back-btn="true" >
    
    	<div data-role="header">
    		<h1 >New Note</h1>
    	</div>
    	
    	<div data-role="content">
    	
    		<form action="#" method="post">
    			<div data-role="fieldcontain">
    				<label for="title">Title</label>
    				<input id="title" name="title" value="">
    			</div>
    			
    			<div data-role="fieldcontain">
    				<label for="body">Body</label>
    				<textarea id="body" name="body"></textarea>
    			</div>
    			
    			<button data-icon="check" data-theme="b">Save</button>
    			
    		</form>
    	
    	</div>
    
    </div>
    
    <!--
    List of notes
    -->
    <div id="all" data-role="page">
    	<div data-role="header">
    		<a href="#home" data-role="button" data-icon="arrow-1" data-rel="back">Back</a>
    		<h1>All Notes</h1>
    	</div>
    	
    	<div data-role="content">
    	
    		<ul data-role="listview" id="all_notes">
    		
    		</ul>
    	
    	</div>
    
    </div>
    
    
    <!-- Template code -->
    <!--Generate the link and title for each note in our list -->
    <script type="text/template" id="note-list-item-template">
    	<a href="#note_<%= note.id %>"><%= note.get('title') %></a>
    </script>
    

  
  <script src="js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/backbone.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/backbone.localStorage.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/application.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/jquery.mobile-1.0b1.min.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>




